.aside {
  height: 100vh;
  width: 30vw;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

.hero {
  text-align: center;
  text-decoration: none;
}

.logo {
  width: 100px;
}

.title {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #000000;
  margin: 0;
}

.description {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #000000;
  margin: 0;
}

.motto {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 5px;
  color: #FFAFB0;
}


@media screen and (max-width: 720px) {
  .aside {
    height: auto;
    width: 100vw;
    float: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    position: static;
  }

  .logo {
    width: 50px;
  }

  .hero {
    margin: 20px 0;
  }
}
