.portfolio {
  text-align: center;
  padding-bottom: 50px;
}

.portfolio-header {
  font-size: 2.5em;
  text-shadow: 2px 2px 17px rgba(231, 144, 14, 0.8);
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff9f5;
}

.portfolio-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 249, 245, 0.8);
  width: 400px;
  padding: 50px 50px 0 50px;
  margin-bottom: 10vh;
}

.portfolio-link {
  font-size: 1em;
  font-weight: 300;
  color: rgb(19, 160, 73);
  text-decoration: none;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.portfolio-pane {
  height: 220px;
  width: 380px;
  padding: 5px;
  box-shadow: 2px 2px 17px rgba(255, 216, 88, 0.3);
}

.portfolio-pane p {
  color: rgba(0, 0, 0, 0);
}

.portfolio-pane a {
  color: rgba(0, 0, 0, 0);
}

.portfolio-pane:hover,
.portfolio-pane:active {
  transition-duration: 1s;
}

.portfolio-pane:hover p, .portfolio-pane:hover a,
.portfolio-pane:active p, .portfolio-pane:active, a {
  transition-duration: 1s;
  color: #fff9f5;
}

.emotican {
  background: url('/images/emotican.gif') no-repeat;
  background-size: cover;
}

.emotican:hover,
.emotican:active {
  transition-duration: 1s;
  background: linear-gradient(
      rgba(77, 6, 105, 0.9),
      rgb(82, 6, 105),
      rgb(245, 56, 173)
    ),  url('/images/emotican.gif') no-repeat;
  background-size: cover;
}

.jetfuel {
  background: url('/images/jetfuel.gif') no-repeat;
  background-size: cover;
}

.jetfuel:hover,
.jetfuel:active {
  transition-duration: 1s;
  background: linear-gradient(
      rgba(30, 82, 194, 0.9),
      rgb(46, 145, 211),
      rgb(35, 172, 30)
    ),  url('/images/jetfuel.gif') no-repeat;
  background-size: cover;
}

.autocomplete {
  background: url('/images/autocomplete.gif') no-repeat;
  background-size: cover;
}

.autocomplete:hover,
.autocomplete:active {
  transition-duration: 1s;
  background: linear-gradient(
      rgba(238, 140, 28, 0.9),
      rgb(248, 166, 43),
      rgb(245, 210, 13)
    ),  url('/images/autocomplete.gif') no-repeat;
  background-size: cover;
}

.swapibox {
  background: url('/images/swapibox.gif') no-repeat;
  background-size: cover;
}

.swapibox:hover,
.swapibox:active {
  transition-duration: 1s;
  background: linear-gradient(
    rgba(77, 6, 105, 0.9),
    rgb(82, 6, 105),
    rgb(245, 56, 173)
    ),  url('/images/swapibox.gif') no-repeat;
  background-size: cover;
}

.comp3 {
  background: url('/images/comp3.gif') no-repeat;
  background-size: cover;
}

.comp3:hover,
.comp3:active {
  transition-duration: 1s;
  background: linear-gradient(
    rgba(30, 82, 194, 0.9),
    rgb(46, 145, 211),
    rgb(35, 172, 30)
    ),  url('/images/comp3.gif') no-repeat;
  background-size: cover;
}

.app-design {
  background: url('http://i.imgur.com/kXKRfGa.png') no-repeat;
  background-size: cover;
}

.app-design:hover,
.app-design:active {
  transition-duration: 1s;
  background: linear-gradient(
    rgba(238, 140, 28, 0.9),
    rgb(248, 166, 43),
    rgb(245, 210, 13)
    ),  url('http://i.imgur.com/kXKRfGa.png') no-repeat;
  background-size: cover;
}

.pizza-foreach {
  background: url('/images/pizza-foreach.gif') no-repeat;
  background-size: cover;
}

.pizza-foreach:hover,
.pizza-foreach:active {
  transition-duration: 1s;
  background: linear-gradient(
    rgba(77, 6, 105, 0.9),
    rgb(82, 6, 105),
    rgb(245, 56, 173)
    ),  url('/images/pizza-foreach.gif') no-repeat;
  background-size: cover;
}

.pizza-map {
  background: url('/images/pizza-map.gif') no-repeat;
  background-size: cover;
}

.pizza-map:hover,
.pizza-map:active {
  transition-duration: 1s;
  background: linear-gradient(
    rgba(30, 82, 194, 0.9),
    rgb(46, 145, 211),
    rgb(35, 172, 30)
    ),  url('/images/pizza-map.gif') no-repeat;
  background-size: cover;
}



@media screen and (max-width: 590px) {
  .portfolio-display {
    width: 85vw;
    padding: 20px 20px 0 20px;
  }

  .portfolio-pane {
    width: 80vw;
  }

  .portfolio-pane p, .portfolio-pane a {
    font-size: 0.8em;
  }

  .portfolio-link {
    margin-bottom: 25px;
  }
}
