.resume {
  text-align: center;
  padding-bottom: 50px;
}

.resume-header {
  font-size: 2.5em;
  text-shadow: 2px 2px 17px rgba(23, 165, 167, 0.4);
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #ffffff;
}

.resume-display {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30vw;
  padding: 3vh 5vw;
  margin-bottom: 10vh;
}

.resume-link {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFAFB0;
}

.resume-link:hover {
  letter-spacing: 5px;
}

.resume-display p {
  font-weight: 300;
  line-height: 200%;
  letter-spacing: 2px;
}

.experience-group {
  margin: 5vh 1vw;
}

.experience {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000000;
  margin: 0;
}

.company {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFAFB0;
  margin: 0;
}




@media screen and (max-width: 720px) {
  .resume-display {
    width: 50vw;
  }
}


@media screen and (max-width: 590px) {
  .resume-display {
    width: 85vw;
  }
}
